*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
/projectFilesBackup/
.DS_Store
/app/src/main/res/drawable/.directory
/build
/captures
/ViewPagerIndicator-Library/build
ViewPagerIndicator-Library/build/outputs/aar/*
